*{margin: 0;padding: 0;}
body{margin: 0;padding: 0;}
#app{position: relative;width: 100%;height: 100vh}


.musicIcon{width: 32px;height: 32px;position: absolute;top: 18px;left: 18px;z-index: 999999}
.pause{width: 100%;height: 100%;}
.pause>img{height: 100%}
.pause.active{display: none}
.play.active{display: none}

.merry{margin-top: 48px;position: absolute;width: 100%;text-align: center}
.merry>img{width: 80%;}
.tree{height: 100vh;width: 100%;margin: 0 auto;position: absolute;top:0;left:0;display: flex;justify-content: center ;align-items: flex-end}

.tree>img{max-width: 100%;height:70%;margin-bottom: -25px;}